body {
  margin: 6%;
  background-color: rgb(225, 232, 240);
}

.description{
  font-family: "Lucida Console", Monaco, monospace;
  color:  #e62739;
  font-style: normal;
  font-size: 14px;
  text-align: left;
  padding-top: 2%;
}

.title {
  font-family: "Lucida Console", Monaco, monospace;
  color:  #e62739;
  font-style: bold;
  font-size: 26px;
  text-align: center;
}

img.one{
    border: 10px solid black;
    width: 4%;
    height: 4%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}


img.two{
    width: 10%;
    height: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
}

a:link {
color: #e62739;

}

/* visited link */
a:visited {
    color:  #e62739;

}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #c0c0c0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ff0000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
